doctype 5
html
 head
  title #{ globals.name.first } #{ globals.name.last } - Profilic Motivational Speaker
  link(href='/css/main.css', rel='stylesheet', type='text/css')
  link(href='http://krrishd.github.io/some-css/main.min.css', rel='stylesheet', type='text/css')
 body
  header
   img(src='#{globals.profile.img}', width="100px")
   h1.
    #{ globals.name.first } #{ globals.name.last } - Author and Speaker
  nav.nav
   a(href='/blog') Blog
  div#content
   != yield
  footer
   p &copy; 2013 #{globals.name.first} #{globals.name.last}. All Rights Reserved.
// Web Design and Development by Krish Dholakiya and Colin McIllece