doctype 5
html
 head
  title #{ globals.name.first } #{ globals.name.last } - Profilic Motivational Speaker
  link(rel='stylesheet', href='skeuocard/styles/skeuocard.reset.css', type='text/css')
  link(rel='stylesheet', href='skeuocard/styles/skeuocard.css', type='text/css')
  link(href='/css/some.css', rel='stylesheet', type='text/css')
  link(href='/css/animate.css', rel='stylesheet', type='text/css')
  link(href='/css/main.css', rel='stylesheet', type='text/css')
  script(src='/cdn/jquery.min.js')
  script(src='/cdn/angular.min.js')
  script(src='https://cdn.firebase.com/v0/firebase.js')
  script(src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js')
  script(src='skeuocard/javascripts/vendor/css_browser_selector.js')
  script(src='skeuocard/javascripts/skeuocard.js')
  script(src='/ctrl.js')
  script(src='/my.js', type='text/javascript')
 body
  header
   img(src='#{globals.profile.img}', width="100px")
   h1.
    #{ globals.name.first } #{ globals.name.last } - Author and Speaker
  nav.nav(class='blue')
   a(href='/') Home
   a(href='/about') About
   a(href='/buy-book') Buy Book
   a(href='/tour-schedule') Tour Schedule
   a(href='/blog') Blog
  div#content(ng-app="shop", ng-controller='pageCtrl')
   != yield
  footer
   p &copy; 2013 #{globals.name.first} #{globals.name.last}. All Rights Reserved.
   span.credit Website Design and Development by 
    a(href='http://krrishd.github.io') Krish Dholakiya 
    span and 
    a(href='http://definitestudios.com') Colin McIllece
// Using some.css framework by Krish Dholakiya - krrishd.github.io/some-css
// Front-End Development w/Jade, LESS, AngularJS, and HarpJS and Infrastructure Management w/Git, Heroku and Firebase BaaS by Krish Dholakiya
// Graphic Design, Content Management, Front-End Modifications, and Information Architecture by Colin McIllece
